Repository RocketChat/docs, pull requests merged in 2018-11, with the labels that each got.

#970 [FIX]Fix wrong cUrl in rooms.favorite endpoint
  developer-guides/rest-api/rooms/favorite/README.md
Labels: API, bug

#983 New page about Analytics & Data Usage on the mobile apps
  _data/toc.yml
  developer-guides/mobile-apps/analytics/README.md
Labels: Android, iOS

#939 [FIX]Remove property from groups and channels `.delete` endpoint
  developer-guides/rest-api/channels/delete/README.md
  developer-guides/rest-api/groups/delete/README.md
Labels: API, outdated document

#987 [NEW] Added docs for rooms.info and rooms.leave new REST endpoints
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  developer-guides/rest-api/README.md
  developer-guides/rest-api/rooms/README.md
  developer-guides/rest-api/rooms/info/README.md
  developer-guides/rest-api/rooms/leave/README.md
Labels: API

#968 Update Livechat Queue Types Docs
  administrator-guides/livechat/livechat-queues/README.md
Labels: Livechat

#918 [IMPROVE] Add rooms property to the users.info response
  developer-guides/rest-api/users/info/README.md
Labels: API, Waiting Pull Request

#949 [FIX]Update the personal access tokens instructions
  developer-guides/rest-api/personal-access-tokens/README.md
Labels: API, Waiting Pull Request

#1004 [FIX]Fix users.setPreferences response and add links in users page
  developer-guides/rest-api/users/README.md
  developer-guides/rest-api/users/set-preferences/README.md
Labels: API

#1003 [FIX] Remove wrong /messages/types docs
  developer-guides/rest-api/README.md
  developer-guides/rest-api/messages/types/get/README.md
Labels: API, outdated document
