Repository RocketChat/docs, pull requests merged in 2018-02, with the labels that each got.

#563 [FIX] fix docs about rest-api/settings endpoints
  _data/toc.yml
  developer-guides/rest-api/README.md
  developer-guides/rest-api/settings/README.md
  developer-guides/rest-api/settings/get-by-id/README.md
  developer-guides/rest-api/settings/get/README.md
  developer-guides/rest-api/settings/public/README.md
  developer-guides/rest-api/settings/service-configuration/README.md
Labels: Create Documentation, Fix Documentation, Subj: API

#568 [FIX] Remove temporary message about GSoC approval process
  contributing/google-summer-of-code-2018/README.md
Labels: gsoc

#571 Add myself as mentor for bot projects
  contributing/google-summer-of-code-2018/README.md
Labels: gsoc

#586 [DOCS] Add Deeplink documentation
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  developer-guides/deeplink/README.md
Labels: Create Documentation

#527 [NEW] Add docs to new API permissions & user roles
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  developer-guides/rest-api/permissions/README.md
  developer-guides/rest-api/user/roles/README.md
Labels: Subj: API, Subj: Developer Guides, Waiting Pull Request

#526 [NEW] Add docs to Sptolight REST API
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  developer-guides/rest-api/spotlight/README.md
Labels: Subj: API, Subj: Developer Guides, Waiting Pull Request

#589 [NEW] Adding docs for user settings/preferences endpoints
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  developer-guides/rest-api/README.md
  developer-guides/rest-api/users/get-preferences/README.md
  developer-guides/rest-api/users/set-preferences/README.md
Labels: Create Documentation, Subj: API, Subj: Developer Guides, Waiting Pull Request

#612 [FIX] Update our docs to resolve the wrong type on title_link_download
  developer-guides/rest-api/chat/postmessage/README.md
Labels: API, bug
