Repository RocketChat/docs, pull requests merged in 2018-09, with the labels that each got.

#901 [NEW] Add docs to REST delete channels and groups
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  contributing/documentation/missing-and-outdated-list/README.md
  developer-guides/rest-api/README.md
  developer-guides/rest-api/channels/README.md
  developer-guides/rest-api/channels/delete/README.md
  developer-guides/rest-api/groups/README.md
  developer-guides/rest-api/groups/delete/README.md
Labels: API, missing document

#912 [FIX] Rest integrations
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  developer-guides/rest-api/README.md
  developer-guides/rest-api/integration/README.md
  developer-guides/rest-api/integration/create/README.md
  developer-guides/rest-api/integration/history/README.md
  developer-guides/rest-api/integration/list/README.md
  developer-guides/rest-api/integration/remove/README.md
Labels: API, missing document, outdated document

#914 [NEW] Add REST push.token docs
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  developer-guides/rest-api/README.md
  developer-guides/rest-api/push/README.md
  developer-guides/rest-api/push/deletePushToken/README.md
  developer-guides/rest-api/push/push-token/README.md
Labels: API, missing document

#889 New Documentation: RESTApi Roles endpoints
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  developer-guides/rest-api/README.md
  developer-guides/rest-api/roles/README.md
  developer-guides/rest-api/roles/addUserToRole/README.md
  developer-guides/rest-api/roles/create/README.md
  developer-guides/rest-api/roles/list/README.md
Labels: API, Waiting Pull Request

#915 [FIX] Fix response objects in channels and groups.list endpoints
  developer-guides/rest-api/channels/list/README.md
  developer-guides/rest-api/groups/list/README.md
Labels: API, outdated document

#894 [NEW] Add REST groups setAnnouncement docs
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  developer-guides/rest-api/README.md
  developer-guides/rest-api/groups/README.md
  developer-guides/rest-api/groups/setannouncement/README.md
Labels: API, Waiting Pull Request

#896 [NEW]Rest groups and channels moderators
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  developer-guides/rest-api/README.md
  developer-guides/rest-api/channels/README.md
  developer-guides/rest-api/channels/moderators/README.md
  developer-guides/rest-api/groups/README.md
  developer-guides/rest-api/groups/moderators/README.md
Labels: API, Waiting Pull Request

#921 Add documentation for new Livechat endpoints
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  developer-guides/rest-api/livechat/README.md
  developer-guides/rest-api/livechat/agent/README.md
  developer-guides/rest-api/livechat/config/README.md
  developer-guides/rest-api/livechat/custom-fields/README.md
  developer-guides/rest-api/livechat/message/README.md
  developer-guides/rest-api/livechat/room/README.md
  developer-guides/rest-api/livechat/transcript/README.md
  developer-guides/rest-api/livechat/video-call/README.md
  developer-guides/rest-api/livechat/visitor/README.md
Labels: Livechat
