Repository RocketChat/docs, pull requests merged in 2018-05, with the labels that each got.

#723 [FIX] Add note to customFields property, to REST users.create and users.update
  developer-guides/rest-api/users/create/README.md
  developer-guides/rest-api/users/update/README.md
Labels: API

#735 [FIX] Add REST subscriptions read link to sidemenu
  _data/toc.yml
Labels: API

#728 [FIX] Fix REST /me endpoint
  developer-guides/rest-api/authentication/me/README.md
Labels: API, Waiting Pull Request

#596 Add channels.counters, groups.counters, im.counters
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  developer-guides/rest-api/README.md
  developer-guides/rest-api/channels/README.md
  developer-guides/rest-api/channels/counters/README.md
  developer-guides/rest-api/groups/README.md
  developer-guides/rest-api/groups/counters/README.md
  developer-guides/rest-api/im/README.md
  developer-guides/rest-api/im/counters/README.md
Labels: API, Waiting Pull Request

#600 Add channels.setCustomFields and groups.setCustomFields. Fix purpose.
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  developer-guides/rest-api/README.md
  developer-guides/rest-api/channels/README.md
  developer-guides/rest-api/channels/setcustomfields/README.md
  developer-guides/rest-api/channels/setpurpose/README.md
  developer-guides/rest-api/groups/README.md
  developer-guides/rest-api/groups/setcustomfields/README.md
  developer-guides/rest-api/groups/setpurpose/README.md
  developer-guides/schema-definition/README.md
Labels: API, Waiting Pull Request

#761 [FIX] Add missing pagination fields: count, total and offset in Rest directory
  developer-guides/rest-api/miscellaneous/directory/README.md
Labels: API, Waiting Pull Request

#752 [NEW] Add docs for mark as unread endpoint and fix mark as read endpoint links
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  developer-guides/rest-api/README.md
  developer-guides/rest-api/subscriptions/README.md
  developer-guides/rest-api/subscriptions/unread/README.md
Labels: API, Waiting Pull Request

#738 [FIX] Add options to update a setting in REST /setting endpoint
  developer-guides/rest-api/settings/update/README.md
Labels: API, Waiting Pull Request

#746 Youtube Broadcasting docs
  _data/toc.yml
  administrator-guides/youtube-broadcasting/README.md
  user-guides/channel-actions/README.md
Labels: Waiting Pull Request

#737 [NEW] Add REST endpoint to get username suggestion
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  developer-guides/rest-api/README.md
  developer-guides/rest-api/users/README.md
  developer-guides/rest-api/users/getusernamesuggestion/README.md
Labels: API, Waiting Pull Request
