Repository RocketChat/docs, pull requests merged in 2019-10, with the labels that each got.

#1417 Rename Livechat routing methods
  administrator-guides/livechat/livechat-queues/README.md
Labels: Livechat

#1435 Docs for getMentionedMessages endpoint
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  developer-guides/rest-api/README.md
  developer-guides/rest-api/chat/README.md
  developer-guides/rest-api/chat/getmentionedmessages/README.md
Labels: API, Waiting Pull Request

#1442 Docs for starred messages endpoint
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  developer-guides/rest-api/README.md
  developer-guides/rest-api/chat/README.md
  developer-guides/rest-api/chat/getstarredmessages/README.md
Labels: API, Waiting Pull Request

#1430 Added docs for livechat/triggers endpoint
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  developer-guides/rest-api/livechat/README.md
  developer-guides/rest-api/livechat/triggers/README.md
Labels: API, Waiting Pull Request

#1463 Add doc about direct message import via CSV
  administrator-guides/import/csv/README.md
Labels: Waiting Pull Request
