Repository RocketChat/docs, pull requests merged in 2019-11, with the labels that each got.

#1497 [WIP] Kick-off Security Section
  _data/projects.yml
  security/README.md
Labels: WIP

#1506 [NEW] Added new methods to minimize and maximize the Livechat widget
  developer-guides/livechat-api/README.md
Labels: Livechat

#1486 Docs for chat.getSnippetedMessageById endpoint
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  developer-guides/rest-api/README.md
  developer-guides/rest-api/chat/README.md
  developer-guides/rest-api/chat/getsnippetedmessagebyid/README.md
Labels: API, Waiting Pull Request

#1333 Docs for users.requestDataDownload Rest endpoint
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  developer-guides/rest-api/README.md
  developer-guides/rest-api/users/README.md
  developer-guides/rest-api/users/requestDataDownload/README.md
Labels: API, Waiting Pull Request

#1164 Add info in the integrations endpoints about the separation of integration permissions
  developer-guides/rest-api/channels/getintegrations/README.md
  developer-guides/rest-api/groups/getintegrations/README.md
  developer-guides/rest-api/integration/create/README.md
  developer-guides/rest-api/integration/history/README.md
  developer-guides/rest-api/integration/list/README.md
  developer-guides/rest-api/integration/remove/README.md
Labels: API, Waiting Pull Request
