Repository RocketChat/docs, pull requests merged in 2019-09, with the labels that each got.

#1327 Added docs to channels.anonymousread endpoint
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  developer-guides/rest-api/README.md
  developer-guides/rest-api/channels/README.md
  developer-guides/rest-api/channels/anonymousread/README.md
Labels: API, Waiting Pull Request

#1356 Add docs for autotranslate endpoints
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  developer-guides/rest-api/README.md
  developer-guides/rest-api/autotranslate/README.md
  developer-guides/rest-api/autotranslate/getsupportedlanguages/README.md
  developer-guides/rest-api/autotranslate/savesettings/README.md
  developer-guides/rest-api/autotranslate/translatemessage/README.md
Labels: API, Waiting Pull Request

#1383 Add support to tmid property to commands.run endpoint
  developer-guides/rest-api/commands/run/README.md
Labels: API, Waiting Pull Request

#1364 [NEW] Add docs to getUsersInRole REST Endpoint
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  developer-guides/rest-api/README.md
  developer-guides/rest-api/roles/README.md
  developer-guides/rest-api/roles/getusersinrole/README.md
Labels: API

#1221 switch aws docker install from upstart to systemd
  installation/paas-deployments/aws/README.md
Labels: Waiting Response

#1406 Remove GraphQL Docs
  _data/projects.yml
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  developer-guides/README.md
  developer-guides/graphql-api/README.md
  developer-guides/graphql-api/authentication/README.md
  developer-guides/graphql-api/schema/README.md
  developer-guides/graphql-api/setup/README.md
  developer-guides/graphql-api/subscription/README.md
Labels: Waiting Pull Request

#1414 Update users.createToken endpoint docs
  developer-guides/rest-api/users/createtoken/README.md
Labels: API
