Repository RocketChat/docs, pull requests merged in 2019-02, with the labels that each got.

#816 [NEW] Add docs for Rest API rate limiter
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  developer-guides/rest-api/rate-limiter/README.md
Labels: API, Waiting Pull Request

#1073 Add documentation related to the newest Livechat REST endpoint
  developer-guides/rest-api/livechat/README.md
  developer-guides/rest-api/livechat/room/README.md
Labels: Livechat

#1001 Change query structure from JSON to EJSON
  developer-guides/rest-api/query-and-fields-info/README.md
Labels: API

#1005 [NEW] Added docs to permissions.listAll endpoint and deprecated .list
  contributing/documentation/documentation-map/README.md
  developer-guides/deprecation/README.md
  developer-guides/rest-api/README.md
  developer-guides/rest-api/permissions/README.md
  developer-guides/rest-api/permissions/list/README.md
  developer-guides/rest-api/permissions/listall/README.md
Labels: API

#1055 [NEW] Add offset property to channels.history, groups.history, dm.history
  developer-guides/rest-api/channels/history/README.md
  developer-guides/rest-api/groups/history/README.md
  developer-guides/rest-api/im/history/README.md
Labels: Waiting Pull Request

#1028 [NEW] Added docs for chat.getDeletedMessages endpoint
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  developer-guides/rest-api/README.md
  developer-guides/rest-api/chat/README.md
  developer-guides/rest-api/chat/getdeletedmessages/README.md
Labels: API
