Repository RocketChat/docs, pull requests merged in 2020-05, with the labels that each got.

#1696 Update Livechat widget documentation
  developer-guides/livechat-api/README.md
Labels: Livechat

#1712 Updating README with correct installation steps
  administrator-guides/rocket-chat-apps/README.md
Labels: Waiting Response

#1639 Updated roles doc for roles.sync rest api route
  _data/toc.yml
  contributing/documentation/documentation-map/README.md
  developer-guides/rest-api/README.md
  developer-guides/rest-api/roles/README.md
  developer-guides/rest-api/roles/sync/README.md
Labels: API

#1730 Update .info endpoints responses
  developer-guides/rest-api/channels/info.md
  developer-guides/rest-api/groups/info.md
  developer-guides/rest-api/rooms/info.md
Labels: API

#1373 Create README.md
  installation/paas-deployments/letscloud/README.md
Labels: Waiting Response
